



 <form [formGroup]="fg" (ngSubmit)="onSubmit()">
 <fieldset>
 <h2>Create Account</h2>

 <label for="uname">Full Name</label>
 <input id="uname" type="text" formControlName="uname" required ><br><br>

 <label for="emailid">Email</label>
 <input id="emailid" type="email" formControlName="emailid" required ><br><br>
 <label for="mobno">Mobile Number</label>
 <input id="mobno" type="tel" formControlName="mobno" required ><br><br>
    


 <label for="username">Username</label>
 <input id="username" type="text" formControlName="username" required ><br><br>
    


 <label for="password">Password</label>
 <input id="password" type="password" formControlName="password" required /><br><br>
 <button type="submit">Register</button>
 </fieldset>
 </form>

